{% extends 'shop/basic.html' %}

{% block title %} About Us{% endblock %}
{% block css %} {% endblock %}

  {% block body %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container pt-3">
      <h1 class="display-3">Your Shopping Destination</h1>
      <p>Your shopping destination houses everything you can possibly imagine, from trending electronics like laptops, tablets, smartphones, and mobile accessories to in-vogue fashion staples like shoes, clothing and lifestyle accessories; from modern furniture like sofa sets, dining tables, and wardrobes to appliances that make your life easy like washing machines, TVs. </p>
    </div>
  </div>

  <div class="container pt-3">
    <!-- Example row of columns -->
    <div class="row">
       <div class="col">  <h2>Mission</h2>
         <p>We intend to Provide Best products to the customers in the  lowest price Possible.</p>
      </div>


    </div>

    <hr>

  </div> <!-- /container -->

</main>

{% endblock %}
